<div>
  <div class="captions">
    <p>
    Welcome to Rails Converter. We help you to build a set of charts for yor csv report.
    </p>

    <p>
      Convert a csv file to more than 4 types of chart available from our library, and planning on update it.
    </p>
  </div>
</div>
